<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
        <ion-title>Liste des remboursement délégué médical période</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let remboursement of lesRemboursementDelegueMedicalPeriode">
        <ion-icon slot="start" name="gift-outline"></ion-icon>
      <ion-label>
        {{ remboursement.libelle }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
