<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
        <ion-title>Liste des médecins</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let medecin of LesMedecins" [routerLink]="'/detailmedecin/' + medecin.id">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>
        {{ medecin.prenom }} {{ medecin.nom }} {{ medecin.telephone }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
